
  <div class="cover-image">
    <img src="./assets/power-bi.jpg" alt="Image de couverture">
    <h1 style="font-size: 32px; text-align: center;position: relative;top:100px">2 Méthodes pour intégrer un rapport power bi<br> dans une app web:</h1>

  </div>
  <div class="container0">
    <div class="text">
      <h2>Méthode HTML IFrame :</h2>
      <p>L'intégration via iFrame consiste à incorporer le rapport Power 
        BI dans votre application Java en utilisant un iFrame. L'application
         affiche une vue statique du rapport qui peut être scrollée et explorée, 
         mais les mises à jour ne sont pas automatiques. L'utilisateur doit rafraîchir
          manuellement la page pour obtenir les données les plus récentes. <a href="/iframe" >plus détails</a></p>
    </div>
    <div class="image">
      <img src="./assets/iframe.png" alt="Image illustrative" style="max-width: 100%;height: auto;">
    </div>
  </div>
  <div class="container1">
    <div class="image1">
      <img src="./assets/archi.png" alt="Image Power BI Embedded" style="max-width: 100%;height: auto;">
    </div>
    <div class="text1">
      <h2>Méthode Power BI Embedded :</h2>
      <p>L'intégration Power BI Embedded permet une personnalisation plus avancée. 
        Vous pouvez incorporer des rapports Power BI dans votre application tout en
         contrôlant leur apparence et leur interaction. Cela nécessite l'utilisation de 
         l'API Power BI pour obtenir l'URL d'intégration du rapport. Les rapports intégrés 
         offrent une expérience interactive directement au sein de votre application. <a href="/embeded" >plus détails</a></p>
    </div>
  </div>