<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/Microsoft-Power-BI-Logo.png" width="100" height="50"></a>
    <a class="navbar-brand" href="#">POWER BI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/iframe">Méthode HTML IFrame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/embeded">Power BI Embedded</a>
          </li>
        </ul>
      </div>
    
    </div>
  </nav>
<router-outlet></router-outlet>
