<body style="width: 60%;
margin: 0 auto;">
<h1>Publication sur le web à partir de Power BI</h1>
   
    <h3>Prérequis</h3>
    <p>Créer des codes d'intégration avec la fonction Publier sur le web</p>
    
    <p>Avec l'option "Publier sur le web" de Power BI, vous pouvez facilement intégrer du contenu interactif Power BI dans des articles de blog, des sites web, des e-mails ou des médias sociaux. Vous pouvez également facilement modifier, mettre à jour, actualiser ou arrêter le partage de vos visualisations publiées.</p>
    <div style="background-color: khaki; margin: 10px;padding: 15px;">
    <h3>Avertissement</h3>
    <p>Lorsque vous utilisez Publier sur le web, n'importe qui sur Internet peut consulter votre rapport ou votre visualisation publiée. La consultation ne nécessite aucune authentification. Cela inclut la visualisation de données détaillées agrégées dans vos rapports. Avant de publier un rapport, assurez-vous qu'il est approprié de partager publiquement les données et les visualisations. Ne publiez pas d'informations confidentielles ou exclusives. En cas de doute, vérifiez les politiques de votre organisation avant de publier.</p>
    </div >
    
    <h3>Prérequis</h3>
    <p>- Vous avez besoin d'une licence Microsoft Power BI pour publier sur le web depuis votre espace de travail.<br>
    - Vous avez besoin d'une licence Microsoft Power BI Pro pour publier sur le web depuis les espaces de travail de groupe.<br>
    - La fonction Publier sur le web est disponible pour les rapports que vous pouvez modifier dans vos espaces de travail personnels et de groupe.<br>
    <h3>Créer des codes d'intégration avec la fonction Publier sur le web</h3>

    <p><strong> Suivez ces étapes pour utiliser la fonction Publier sur le web. Consultez l'avertissement plus tôt dans cet article avant de publier sur le web.</strong></p>
    
    <ol>
        <li>Ouvrez un rapport dans un espace de travail que vous pouvez modifier, puis sélectionnez Fichier &gt; Intégrer le rapport &gt; Publier sur le web (public).</li>
        <img src="./assets/i1.png" style="height: 400px; width: 500px;">
        <li>Publier sur le web sur Plus d'options</li>
        <li>Si votre administrateur Power BI ne vous a pas autorisé à créer des codes d'intégration, vous devrez peut-être le contacter.</li>
    </ol>
    
    
    
    <p ><strong>Demo d'une intégration</strong></p>
  <iframe title="Report Section" width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNDBmZDc0NmMtYjY0YS00NGEwLWE0YzgtYjZiZGRlMzdlMWI3IiwidCI6IjYzNjQzYjQyLWY0ZDctNGJhNy1iZmE2LTViZjBjMjc0MTMzOCJ9" frameborder="0" allowFullScreen="true"></iframe><div>works</div>
</body>